---
---

//============
// Imports
//============
@import 'flexbox.scss';

//============
// General
//============

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

a {
    color: #2a7ae2;
    text-decoration: none;

    :visited {
        color: #1756a9;
    }

    :hover {
        color: #111;
        text-decoration: none;
    }
}

//============
// Sidebar
//============

.sidebar-container {
    position: absolute;
    width: 250px;
    height: 100vh;
    background: #f8f8f8;
    overflow: hidden;

    .sidebar {
        margin: 30px 0;
        height: 90%;
        overflow: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: -17px;
        position: absolute;

        .post-link-container {

            .post-link {
                display: inline-block;
                width: 85%;
                padding: 7px 0;
                margin-left: 10%;
                border-style: hidden hidden solid hidden;
                border-width: 1px;

                .img-sm {
                    vertical-align: middle;
                }

                .post-info-container {
                    display: inline-block;
                    vertical-align: middle;
                    height: 40px;

                    .post-date {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

//============
// Main
//============

.main {
    position: absolute;
    width: calc(100vw - 250px);
    height: 100vh;
    left: 250px;
    @include flexbox;
    @include align-items(center);

    .game-info-container {
        margin: auto;
        text-align: center;
        width: 100%;

        .img-lg {
            display: inline-block;
            margin-right: 20px;
        }

        .game-details-container {
            display: inline-block;
            max-width: 40%;
            text-align: left;

            .game-score-length-container{
                .game-how-long {
                    display: inline-block;
                    margin-right: 30px;
                }

                .game-score {
                    display: inline-block;
                }
            }

            .game-replay-difficulty-container {
                .game-replay-value-container {
                    display: inline-block;
                    margin-right: 30px;
                }

                .game-difficulty-container {
                    display: inline-block;
                }
            }

            .category-icon {
                width: 13px;
                margin-right: 10px;
            }

            .external-link-icon {
                cursor: pointer;
            }
        }
    }

}
