---
---

//============
// Variables
//============

//============
// Imports
//============
@import 'flexbox.scss';
@import 'mediaQueries.scss';
@import 'helpers.scss';

//============
// General
//============

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

a {
    color: #fff;
    text-decoration: none;

    :hover {
        text-decoration: none;
    }
}

.hide {
    display: none !important;
}

@include desktop {

    //============
    // Background
    //============

    .background-overlay {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: #000;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: hard-light;
        -webkit-filter: blur(50px);
        filter: blur(50px);
    }

    .page-wrapper {
        height: 100vh;
        width: 100vw;
        background-color: rgba(23, 0, 38, 0.6);
    }

    //============
    // Sidebar
    //============

    .sidebar-container-extend {
        width: 250px !important;
    }

    .sidebar-container {
        position: absolute;
        width: 0;
        height: 100vh;
        overflow: hidden;
        @include transition(1.2s);
        @include translateZ();

        .sidebar {
            margin: 30px 0;
            height: 90%;
            overflow-x: hidden;
            overflow-y: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: -17px;
            position: absolute;
            -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.2)));

            .post-link-container {
                white-space: nowrap;

                .post-link {
                    display: inline-block;
                    width: 90%;
                    padding: 7px 0;
                    margin-left: 10%;
                    border-style: hidden hidden solid hidden;
                    border-width: 1px;
                    border-color: rgba(255, 255, 255, 0.2);

                    .img-sm {
                        vertical-align: middle;
                    }

                    .post-info-container {
                        display: inline-block;
                        vertical-align: middle;
                        height: 40px;
                        margin-left: 5px;

                        .post-date {
                            font-size: 12px;
                            color: #e2e2e2;
                        }
                    }
                }
            }
        }
    }

    //============
    // Main
    //============

    .main-extend {
        width: calc(100vw - 250px) !important;
        left: 250px !important;
    }

    .main {
        position: absolute;
        height: 100vh;
        width: 100vw;
        left: 0;
        @include transition(1.2s);
        @include translateZ();
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(space-between);

        .nav-bar {
            width: 500px;
            height: 40px;
            margin-top: 15px;
            @include disableHighlight;
            @include flexbox;
            @include justify-content(space-between);

            .btn-change-post-wrapper {
                min-width: 120px;
                font-size: 14px;
                text-transform: uppercase;
                line-height: 40px;
            }

            #btn-menu {
                height: 40px;
                cursor: pointer;
            }
        }

        .game-info-container {
            width: 500px;
            height: 300px;
            margin: auto;
            text-align: center;
            white-space: nowrap;
            @include flexbox;
            @include justify-content(space-between);

            .img-lg {
                display: inline-block;
                margin-right: 20px;
                height: 300px;
                @include disableHighlight;
            }

            .game-details-container {
                display: inline-block;
                vertical-align: top;
                text-align: left;
                max-width: 230px;
                height: 300px;

                .game-details-wrapper {
                    height: 100%;
                    overflow-x: hidden;
                    @include flexbox;
                    @include flex-direction(column);
                    @include justify-content(space-between);

                    //============
                    // Review Transition
                    //============

                    .game-info-right {
                        left: 250px !important;
                        @include transition(1.2s);
                        @include translateZ();
                    }

                    .game-info {
                        position: relative;
                        left: 0px;
                        @include transition(1.2s);
                        @include translateZ();
                    }

                    .game-info-left {
                        right: 0 !important;
                        @include transition(1.2s);
                        @include translateZ();
                    }

                    .game-full-review {
                        position: relative;
                        right: 250px;
                        @include transition(1.2s);
                        @include translateZ();
                    }

                    .game-details {

                        .game-title {
                            margin-bottom: 10px;
                            line-height: 0.9;
                        }

                        .game-score-length-container {
                            margin-bottom: 15px;

                            .game-how-long {
                                margin-right: 30px;
                            }
                        }

                        .game-replay-difficulty-container {
                            margin-bottom: 15px;

                            .game-replay-value-container {
                                display: inline-block;
                                margin-right: 30px;
                            }

                            .game-difficulty-container {
                                display: inline-block;
                            }
                        }

                        .read-more {
                            font-size: 14px;
                            margin-top: 10px;
                            display: inline-block;
                        }

                        .game-blurb-review {
                            white-space: normal;
                        }

                        .go-back {
                            font-size: 14px;
                            display: inline-block;
                        }

                        .category-icon {
                            width: 13px;
                            margin-right: 10px;
                        }

                        .external-link-icon {
                            cursor: pointer;
                            margin-left: 3px;
                            font-size: 10px;
                            height: 16px;
                            vertical-align: middle;
                        }
                    }

                    .game-price-container {
                        line-height: 2.1em;

                        .game-price {
                            font-size: 20px;
                        }

                        .game-purchase-link {
                            border-style: solid;
                            border-radius: 3px;
                            border-width: 2px;
                            border-color: #fff;
                            padding: 4px 12px;
                            color: #fff;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }

        .footer {
            height: 40px;
            margin-bottom: 15px;
        }
    }

    //============
    // Review
    //============

    .review-wrapper {
        height: 100vh;
        width: 100vw;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);

        .review {
            display: none;
            z-index: 99;
            color: #fff;
            width: 500px;
            height: 60vh;
            background-color: rgba(50,50,50,0.9);
            color: white;
            padding: 10px 15px;
            border-radius: 5px;
            overflow-y: auto;
        }
    }

    //============
    // General
    //============

    .btn-text {
        cursor: pointer;

        &:hover {
            border-bottom: 1px solid #fff;
            box-shadow: 0px 5px 5px -1px rgba(20, 20, 20, 0.3);
        }
    }

    .btn-highlight {
        &:hover {
            background-color: rgba(200, 200, 200, 0.4);
        }
    }
}
