---
---

//============
// Variables
//============
$gameDetailsContainerHeight: 300px;
$gameDetailsHeight: 300px - 30px;


//============
// Imports
//============
@import 'flexbox.scss';
@import 'mediaQueries.scss';

@include mobile {

    .sidebar-close {
        position: absolute;
        left: calc(100vw - 40px);
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .sidebar-container-open {
        left: 0 !important;
    }

    .sidebar-container {
        width: 100vw !important;
        left: -100vw;
    }

    .main-open {
        width: 0 !important;
        left: 100vw !important;
    }

    .main {
        overflow: hidden;
        height: 100%;

        .nav-bar {
            width: 80% !important;
        }

        #ytplayer {
            width: 100% !important;
            height: 300px !important;
            max-height: 60% !important;
            margin: auto !important;
            top: 0 !important;
            right: 0 !important;
            bottom: 0 !important;
            left: 0 !important;
        }

        .game-info-container {
            width: 100% !important;
            height: 100% !important;
            overflow-y: scroll !important;
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(flex-start);

            .game-image-container {
                height: calc(100% - 315px) !important;
                max-height: 300px;
                min-height: 100px;
                margin-top: 10px;

                .btn-play {
                    position: relative;
                    display: inline-block;
                    margin-right: -50px !important;
                    z-index: 2 !important;
                    margin-top: 0;
                }

                .img-lg {
                    height: 95% !important;
                    z-index: 1 !important;
                    margin-right: 0 !important;
                    vertical-align: top;
                }
            }

            .game-details-container {
                margin: auto !important;
                width: 50%;
                min-width: 230px;
                height: $gameDetailsContainerHeight;

                .game-details {
                    max-height: $gameDetailsHeight !important;
                }

                .game-title {
                    text-align: center !important;
                }

                .game-blurb-review {
                    p {
                        width: 230px;
                    }
                }

                .game-full-review {
                    p {
                        width: 100% !important;
                    }
                }

                .game-price-container {
                    top: 0% !important;
                }
            }
        }
    }
}
