@mixin transition($value: 1s) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin translateZ($value: 0) {
    -webkit-transform: translateZ($value);
    -moz-transform: translateZ($value);
    -ms-transform: translateZ($value);
    -o-transform: translateZ($value);
    transform: translateZ($value);
}

@mixin disableHighlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
