---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Games</title>
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/mobile.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="background-overlay" style="background-image:url('/assets/images/{{ page.image }}')"></div>
        <div class="page-wrapper">
            <div class="sidebar-container">
                <div class="sidebar">
                    {% for post in site.posts %}
                        <a class="post-link-container" href="{{ post.url }}">
                            <div class="post-link">
                                <img class="img-sm" src="/assets/images/{{ post.image }}" height="40">
                                <div class="post-info-container">
                                    <div class="post-title">
                                        {{ post.title }}
                                    </div>
                                    <div class="post-date">
                                        {{ post.date | date: "%B %e, %Y" }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="main">
                <div class="game-info-container">
                    <img class="img-lg" src="/assets/images/{{ page.image }}">
                    <div class="game-details-container">
                        <div class="game-details-wrapper">
                            <div class="game-details">
                                <h2 class="game-title">{{ page.title }}</h2>
                                <div class="game-platforms">
                                    <i class="fa fa-gamepad category-icon" aria-hidden="true"></i>
                                    {{ page.platforms }}
                                </div>
                                <div class="game-score-length-container">
                                    <span class="game-how-long">
                                        <i class="fa fa-clock-o category-icon" aria-hidden="true"></i>
                                        {{ page.howLong }} hours
                                        <a href="{{ page.howLongToBeatLink }}" target="_blank">
                                            <img class="external-link-icon" src="/assets/icons/external-link.svg" />
                                        </a>
                                    </span>
                                    <span class="game-score">
                                        <i class="fa fa-line-chart category-icon" aria-hidden="true"></i>
                                        {{ page.score }} / 10
                                        <a href="{{ page.metacriticLink }}" target="_blank">
                                            <img class="external-link-icon" src="/assets/icons/external-link.svg" />
                                        </a>
                                    </span>
                                </div>
                                <div class="game-replay-difficulty-container">
                                    <span class="game-replay-value-container">
                                        <h5 class="game-replay-value">Replay Value</h5>
                                        {% for i in (1..page.replayValue) %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% endfor %}
                                    </span>
                                    <span class="game-difficulty-container">
                                        <h5 class="game-difficulty">Difficulty</h5>
                                        {% for i in (1..page.difficulty) %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% endfor %}
                                    </span>
                                </div>
                                <div class="game-blurb-review">
                                    {{ page.blurb }}
                                </div>
                            </div>
                            <div class="game-price-container">
                                ${{ page.price }}
                                <a href="{{ page.purchaseLink }}" target="_blank" class="game-purchase-link">BUY</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-wrapper">
                <div class="review">
                    Review text goes here
                </div>
            </div>
        </div>
    </body>
</html>
